<div class="card mt-3">
    <div class="card-header">Prideti nauja preke</div>
    <div class="card-body">
        <form (ngSubmit)="productSubmit(f)" #f="ngForm">
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="text" class="form-control" name="price" ngModel>
            </div>
            <button class="btn btn-success" type="submit">prideti</button>
        </form>

    </div>
</div>